<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/stylesheet.css}" href="stylesheet.css" rel="stylesheet" type="text/css">
    <title>Webshop</title>
</head>
<body>

<h1>My Shop</h1>
<form action="/only-available" method="get" th:action="@{/only-available}">
    <button> ONLY AVAILABLE</button>
</form>
<form action="/cheapest-first" th:action="@{/cheapest-first}">
    <button> CHEAPEST FIRST</button>
</form>
<form action="/contains-nike" th:action="@{/contains-nike}">
    <button> CONTAINS NIKE</button>
</form>
<form action="/average-stock" th:action="@{/average-stock}">
    <button> AVERAGE STOCK</button>
</form>
<form action="/most-expensive" th:action="@{/most-expensive}">
    <button> MOST EXPENSIVE AVAILABLE</button>
</form>

<label> Search for: </label>
<form method="post"  action="/search" th:action="@{/search}">
    <input type="text" id="searchBar" placeholder="...something like nike" name="searchedItem">
    <button id="searchbutton">Search</button>
</form>

</br>
<table>

    <thead> Name</thead>
    <thead> Description</thead>
    <thead> Price</thead>
    <thead> Quantity of stock</thead>

    <tbody>
    <tr th:each="products : ${listOfProducts}">
        <td th:text="${products.getName()}">name</td>
        <td class="description" th:text="${products.getDescription()}">description</td>
        <td th:text="${products.getPrice()}">price</td>
        <td th:text="${products.getQuantityOfStock()}">quantity</td>
    </tr>
    </tbody>

</table>

</body>
</html>