 {% extends 'events/base.html' %}

{% block content %}

<div class="container">

<h1> Event List </h1>

<h2> Your Events: </h2>

<br/>

{% for event in events %}

<div class="card">
  <div class="card-header">
    <strong>{{ event.name }}</strong>

  </div>
  <div class="card-body">
    <h5 class="card-title"> <strong>Venue:</strong> {{ event.venue }}</h5>
    <p class="card-text"> <strong>Desctiption:</strong> {{ event.description }}<br/>
 	<strong>Venue:</strong> {{ event.venue }}  <br/>
	<strong>Venue URl:</strong> {{ event.venue.web }}<br/>
 </p>
  
  </div>
  <div class="card-footer text-muted">
   Date: {{ event.event_date }}
<div align='right'>
          <a class="btn btn-secondary" href="{% url 'update_event' event.id %}" > Update </a><br/>

      </td>
 </div>
</div>
<br/>


{% endfor %}

{%  endblock %}