{% include 'header.html' %}


<!-- Full Page Image Header with Vertically Centered Content -->
<header class="filip-teller">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">o Filipovi</h1>
        <p class="lead">  Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit. Donec iaculis gravida nulla. Nullam
          feugiat, turpis at pulvinar vulputate, erat libero tristique tellus,
          nec bibendum odio risus sit amet ante. Aenean vel massa quis mauris
          vehicula lacinia. Donec quis nibh at felis congue commodo. Maecenas
          libero. Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus id quod maxime placeat facere possimus,
          omnis voluptas assumenda est, omnis dolor repellendus. Integer lacinia.
          Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero,
          eget facilisis enim ipsum id lacus. Integer rutrum, orci vestibulum
          ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede
          sem sit amet enim. Nullam rhoncus aliquam metus. Nullam at arcu a
          ullam eget nisl. Mauris dictum facilisis augue. Nulla pulvinar
          eleifend sem. Mauris metus. Donec vitae arcu. Proin mattis lacinia justo.  Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit. Donec iaculis gravida nulla. Nullam
          feugiat, turpis at pulvinar vulputate, erat libero tristique tellus,
          nec bibendum odio risus sit amet ante. Aenean vel massa quis mauris
          vehicula lacinia. Donec quis nibh at felis congue commodo. Maecenas
        </p>
      </div>
    </div>
  </div>
</header>


{% include 'footer.html' %}