{% include 'header.html' %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 shadow-5-strong" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href={{'/'}}>Filip Teller</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">

                <li class="nav-item"><a class="nav-link" href={{'/herec'}}>Herec</a></li>
                <li class="nav-item"><a class="nav-link" href={{'/moderator'}}>Moderátor</a></li>
                <li class="nav-item"><a class="nav-link" href={{'/standup'}}>Stand UP</a></li>
                <li class="nav-item"><a class="nav-link" href={{'/kontakt'}}>Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <div class="hovereffect">
            <img
                    src="static/images/fotogalery/Filip_Teller 1.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Filip Teller in a park"
            />

        </div>

        <div class="hovereffect">
            <img
                    src="static/images/fotogalery/PHOTO-2022-10-04-16-13-02 8.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Filip Teller"
            />

        </div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="hovereffect">
            <img
                    src="static/images/fotogalery/Filip_Teller 5.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Filip Teller in a park"
            />

        </div>
        <div class="hovereffect">
            <img
                    src="static/images/fotogalery/Teller 11.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Filip Teller"
            />

        </div>
    </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="hovereffect">
                <img
                        src="static/images/fotogalery/filip_teller-1200x800.jpg"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="Filip Teller"
                />
            </div>
            <div class="hovereffect">
                <img
                        src="static/images/fotogalery/PHOTO-2022-10-04-16-13-02 12.jpg"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="Filip Teller"
                />
            </div>
        </div>
    </div>


    {% include 'footer.html' %}

