{% include 'header.html' %}


<!--<nav class="navbar sticky-top navbar-expand-lg">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand filip" href="#">Filip</a><a class="navbar-brand teller" href="#">Teller</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"-->
<!--                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <ul class="navbar-nav ms-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="#">home</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">program</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">repertoár</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">bio</a>-->
<!--                </li>-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">kontakt</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->


<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="static/images/.xdp-mozna-ze-to-znate_copy.jpg-mWNFOd" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
               <button class="button-74" role="button">zjistit více</button>
            </div>

        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="static/images/.xdp-plakát-reprodukce-banner_copy.jpg-YiZCfK" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <button class="button-74" role="button">zjistit více</button>
            </div>

        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="static/images/.xdp-Stand-Up-Down_copy.jpg-qn1T7q" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
               <button class="button-74" role="button">zjistit více</button>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="static/images/.xdp-boxer_copy.jpg-BbijBB" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <button class="button-74" role="button">zjistit více</button>
            </div>

        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="static/images/.xdp-cech-a-cobol_copy.jpg-GmJy4s" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <button class="button-74" role="button">zjistit více</button>
            </div>

        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<div class="container-fluid text-center animated rubberBand">
    <div class="row">
        <div class="col">
            <h1 class="program-title">PROGRAM</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
           <button class="button-74" role="button">zobrazit vše</button>
        </div>
    </div>
</div>
<div class="container-fluid text-center repertoar">
    <div class="row">
        <div class="col">
            <h1 class="program-title">KONTAKT</h1>
        </div>
    </div>
    <!--    <ul class="wrapper">-->
    <!--        <li class="icon facebook">-->
    <!--            <span class="tooltip">Facebook</span>-->
    <!--            <span><i class="fab fa-facebook-f"></i></span>-->
    <!--        </li>-->
    <!--        <li class="icon twitter">-->
    <!--            <span class="tooltip">Twitter</span>-->
    <!--            <span><i class="fab fa-twitter"></i></span>-->
    <!--        </li>-->
    <!--        <li class="icon instagram">-->
    <!--            <span class="tooltip">Instagram</span>-->
    <!--            <span><i class="fab fa-instagram"></i></span>-->
    <!--        </li>-->
    <!--        <li class="icon github">-->
    <!--            <span class="tooltip">Github</span>-->
    <!--            <span><i class="fab fa-github"></i></span>-->
    <!--        </li>-->
    <!--        <li class="icon youtube">-->
    <!--            <span class="tooltip">Youtube</span>-->
    <!--            <span><i class="fab fa-youtube"></i></span>-->
    <!--        </li>-->
    <!--    </ul>-->
    <div class="row">
        <div class="col">
           <button class="button-74" role="button">zobrazit vše</button>
        </div>
    </div>
</div>

{% include 'footer.html' %}