{% include 'header.html' %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 shadow-5-strong" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" style="color: #c51565;" href={{'/'}}>Filip Teller</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href={{'/'}}>Home</a></li>
                <li class="nav-item"><a class="nav-link" href={{'/herec'}}>Herec</a></li>
                <li class="nav-item"><a class="nav-link" style="color: #c51565;" href={{'/moderator'}}>Moderátor</a></li>
                <li class="nav-item"><a class="nav-link" href={{'/standup'}}>Stand UP</a></li>
                <li class="nav-item"><a class="nav-link" href={{'/kontakt'}}>Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<header class="filip-teller">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-light">o Filipovi</h1>
                <p class="lead"> Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit. Donec iaculis gravida nulla. Nullam
                    feugiat, turpis at pulvinar vulputate, erat libero tristique tellus,
                    nec bibendum odio risus sit amet ante. Aenean vel massa quis mauris
                    vehicula lacinia. Donec quis nibh at felis congue commodo. Maecenas
                    libero. Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                    omnis voluptas assumenda est, omnis dolor repellendus. Integer lacinia.
                    Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero,
                    eget facilisis enim ipsum id lacus. Integer rutrum, orci vestibulum
                    ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede
                    sem sit amet enim. Nullam rhoncus aliquam metus. Nullam at arcu a
                    ullam eget nisl. Mauris dictum facilisis augue. Nulla pulvinar
                    eleifend sem. Mauris metus. Donec vitae arcu. Proin mattis lacinia justo. Lorem ipsum dolor sit
                    amet,
                    consectetuer adipiscing elit. Donec iaculis

                </p>
            </div>
        </div>
    </div>
</header>


{% include 'footer.html' %}