{% include 'header.html' %}


<body>
<div class="table-responsive">
  <table class="table table-striped text-successtable-border border-light">
    <thead class="border-light">
    <br>
    <br>
    <br>
    <br>
      <tr>

        <th scope="col"><strong>Datum</strong></th>
        <th scope="col"><strong>Představení</strong></th>
        <th scope="col"><strong>Info</strong></th>
        <th scope="col"><strong>koupit vstupenku</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="datum">Datum</th>
        <td class="predstaveni">Představení</td>
        <td class="info">Info</td>
        <td> <button class="button-74" role="button">koupit vstupenku</button></td>
      </tr>
      <tr>
        <th scope="row" class="datum">Datum</th>
        <td class="predstaveni">Představení</td>
        <td class="info">Info</td>
        <td> <button class="button-74" role="button">koupit vstupenku</button></td>
      </tr>
      <tr>
        <th scope="row" class="datum">Datum</th>
        <td class="predstaveni">Představení</td>
        <td class="info">Info</td>
        <td> <button class="button-74" role="button">koupit vstupenku</button></td>
      </tr>
      <tr>
        <th scope="row" class="datum">Datum</th>
        <td class="predstaveni">Představení</td>
        <td class="info">Info</td>
        <td> <button class="button-74" role="button">koupit vstupenku</button></td>
      </tr>
       <tr>
        <th scope="row" class="datum">Datum</th>
        <td class="predstaveni">Představení</td>
        <td class="info">Info</td>
        <td> <button class="button-74" role="button">koupit vstupenku</button></td>
      </tr>
      <tr>
        <th scope="row" class="datum">Datum</th>
        <td class="predstaveni">Představení</td>
        <td class="info">Info</td>
        <td> <button class="button-74" role="button">koupit vstupenku</button></td>
      </tr>
    </tbody>
  </table>
</div>
</body>

{include 'footer.html'}