.navbar {
    background: #e54360;
}

.navbar .navbar-brand {
    color: #ffb71b;
    font-size: 2.3rem;
    font-weight: 900;
}


.container-fluid{
    padding: 2% 10%
}
.navbar .nav-item {
    font-color: #e54360;

}

.play-title{
    color: #e54360;
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: bold;
}
.play-caption {
    color: #e54360;
    font-size: 1.3rem;
    font-family: 'Abril Fatface', bold;
    font-weight: 300;
}
.program-title {
    font-family: 'Montserrat';
    font-weight: bold;
    text-shadow: 0 0 2px #e54360, 0 0 2px #e54360, 0 0 2px #e54360, 0 0 2px #e54360;
    color: white;
    font-size: 3rem;
    padding: 11% 11% 3% 11%;
}
.repertoar {
    background: black;
}

.btn {
    color: #e54360;
    size: 1.3rem;
    font-family: 'Abril Fatface';
}


/* CSS */
.button-74 {
  background-color: transparent;
  border: 2px solid ;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #ffb71b;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}