.navbar {
    background: #111006;
    opacity: 0.9;
    border: 6px;
    border-color: #ffb71b;
}

.navbar .navbar-brand {
    color: #ffb71b;
    font-size: 2.3rem;
    font-weight: 900;
    font-family: Meriwether;
}

.navbar .moderator {
    color: #c51565;
    font-size: 2.3rem;
    font-weight: 900;
}

.container-fluid{
    padding: 2% 10%
}
.navbar .nav-item {
    font-color: #e54360;
}


.repertoar {
    background: black;
}


.program {
    background: black;
}
.footer {
    background: #000000;
}

h1 {
    padding: 25px;
}

h2 {
    padding; 20px;
}

h3 {
    padding 15px;
}

.kontakt {
    background:  #111006;
    color:  #ffb71b;
}

.container-fluid .text-center .animated .rubberBand .repertoar {
    padding: 30px;
}

.col-sm {
    padding: 35px;
}

.predstaveni {
color: #e54360;
}


.filip-teller {
  height: 100vh;
  min-height: 500px;
  background-image: url('../../static/images/moderator/filipTeller_moderator.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffb71b;
  font-family: 'Meriwether', bold;
}
.home-newsletter {
padding: 80px 0;
background: #111006;
opacity: 0.9;
}
.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: #ffb71b;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px;
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}

<!-- social media icons  -->
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
opacity: 0.7;
}
.fa-facebook {
  background: black;
  color: white;
  padding: 9px;
}
.fa-google {
  background: black;
  color: white;
  padding: 9px;

}
.fa-youtube {
  background: black;
  color: white;
    padding: 9px;
}
.fa-instagram {
  background: black;
  color: white;
  padding: 9px;
}


<!-- hover effect in gallery  -->

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translate(-40px);
-ms-transform:translate(-40px);
transform:translate(-40px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.05);
-webkit-transform:scale(1.05);
transform:scale(1.05);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}






<!-- calendar  -->
.calendar-container {

}
.row-striped:nth-of-type(odd){
  background-color #ffb71b;
  border-left: 4px solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #ffb71b solid;
}

.row-striped {
    padding: 15px 0;

}