{% include 'header.html' %}
{% include 'navbar.html' %}
<div class="container blog-posts">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
    <br/><br/><br/>
    <div class="col-12">
        <div class="container py-5 h-100">

            {% for post in posts %}
            <div class="shadow p-5 mb-5 bg-body rounded">
                <h2>{{ post.title }}</h2><br/>
                By: {{ post.poster.username }}<br/>
                {{ post.date_posted }} <br/><br/>
                {{ post.content|safe }}<br/><br/>
                <div class="d-flex justify-content-end pt-3">
                    <a href="{{url_for('post', id=post.id) }}" class="btn btn-warning btn-md ms-2"> View Post</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}
{% include 'footer.html' %}