{% include "header.html" %}
<body>
<div class="index-page" style="background-image: url('static/images/cr2.png'); opacity: ;">
  {% include 'navbar.html' %}
    <div class="container-md content">
        <div class="col-12">
            <h1 class="definition">Navigate thorough the circus of the <b>POWER</b> & <b>POLITICS</b></h1>
        </div>
        <div class="col-12">
            <p> This is a page that might help you navigate through the politics and
                foreign policy. Czech republic has more than 8000 thousand politics in their office.
                Ambition of this page is to inform you about those individuals.
                This page also work as a platform to discuss politics and news form this field.
                Importance of this ambition is immense so explore this piece of puzzle and question your local
                politician.</p>
        </div>
    </div>
</div>
</body>
{% include "footer.html" %}
