{% include 'header.html' %}
{% include 'navbar.html' %}
<div class="container-md login-form">
    <div class="col-12">
        <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="static/images/Czech_Republic.png"
                                         alt="Sample photo" class="img-fluid"
                                         style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"/>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black">
                                        <h3 class="mb-5 text-uppercase">Login form</h3>
                                        {% for message in get_flashed_messages() %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                        {% endfor %}

                                        {% if email and password %}
                                        <h3> Hello, {{ password_to_check.name }}
                                            <h3> E-mail: {{ password_to_check.email }}</h3>

                                            {% else %}
                                            <h6>Přihlašovací údaje</h6>
                                            <br/>
                                            <form method="POST">
                                                {{ login_form.hidden_tag() }}

                                                {{ login_form.email.label(class="form-label") }}
                                                {{ login_form.email(class="form-control") }}
                                                <br/>
                                                {{ login_form.password.label(class="form-label") }}
                                                {{ login_form.password(class="form-control") }}
                                                <br/>
                                                <div class="d-flex justify-content-end pt-3">
                                                    {{ login_form.submit(class="btn btn-warning btn-lg ms-2") }}

                                                    {% endif %}
                                                </div>
                                            </form>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>

{% include 'footer.html' %}